<% if @restaurant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<section class="create-form">
  <%= form_for @restaurant do |f| %>
  	<%= f.label :name %>
  	<%= f.text_field :name, required: true %>

  	<%= f.label :cuisine %>
  	<%= f.text_field :cuisine, required: true %>

  	<%= f.submit 'Add' %>

  <% end %>
</section>

