<header id="yelp-header">
<div id="create-restaurant"><%= link_to "Create a restaurant", new_restaurant_path %></div>
</header>

<template id="ajax-reviews">
	<li>

	<strong> {{ #review }} {{ title }} {{ /review }}</strong><br>
			{{ #review }} {{ thoughts }} {{ /review }}<br>
			{{ #review }} {{ star_rating }} {{ /review }}
	</li>

</template>

	<%= render 'form' %>

<section id="restaurant-list">
	<% if @restaurants.any? %>

		<% @restaurants.each do |restaurant| %>

			<div class="restaurant-parent-container" data-id="<%= restaurant.id %>">

				<span class="restaurant-name">
					<h2><%= restaurant.name %> | <%= restaurant.cuisine %></h2>
				</span>

				<div id="review-summary">
					<div class="review-count">
						<%= pluralize restaurant.reviews.count, 'review' %>
					</div>

					<div class="average-rating">Average rating <%= star_rating(restaurant.average_rating) %>
					</div>
				</div>
				
				<div id="restaurant-actions">
					<span class="amend-button"><%= link_to "✐", edit_restaurant_path(restaurant) %></span>
					<span class="amend-button"><%= link_to "✖", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></span>
				</div>

					
				<%= form_for [restaurant, @review] do |f| %>
			
					<%= f.text_area :title, {placeholder: "Title"} %>

					
					<%= f.text_area :thoughts, {placeholder: "Thoughts"}  %>

					<%= f.label :rating %>
					<%= f.select :rating, 1..5 %>

					<%= f.submit 'Leave Review' %>
				<% end %>
				
				<div id="review-container">
				<ul>
					
					<% restaurant.reviews.reverse.each do |review| %>
						<li>
							<strong><%= review.title %></strong><br>
							<%= review.thoughts %><br>
							<strong><%= star_rating(review.rating) %></strong>
						</li>
					<% end %>
					
				</ul>
				</div>

			</div>

		<% end%>
	<% else %>
		No restaurants yet
	<% end %>

</section>