<header id="yelp-header">Yelp</header>

<template id="ajax-reviews">
	<li>

	<strong> {{ title }} </strong>
			{{ thoughts }}
			{{ rating }}

	</li>
</template>


	<%= link_to "Create a restaurant", new_restaurant_path %>

<section id="restaurant-list">
	<% if @restaurants.any? %>

		<% @restaurants.each do |restaurant| %>

			<div id="restaurant-parent-container">

				<span class="restaurant-name">
					<h2><%= restaurant.name %> | <%= restaurant.cuisine %></h2>
				</span>

				<h4 id="review-count">
					<%= pluralize restaurant.reviews.count, 'review' %>
				</h4>

				<h4 id="average-rating">Average rating <%= star_rating(restaurant.average_rating) %> </h4>
				
				<div id="restaurant-actions">
					<span class="amend-button"><%= link_to "Edit", edit_restaurant_path(restaurant) %></span>
					<span class="amend-button"><%= link_to "Delete", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></span>
				</div>

					
				<%= form_for [restaurant, @review] do |f| %>
					<%= f.label :title %>
					<%= f.text_area :title %>

					<%= f.label :thoughts %>
					<%= f.text_area :thoughts %>

					<%= f.label :rating %>
					<%= f.select :rating, 1..5 %>

					<%= f.submit 'Leave Review' %>
				<% end %>
				
	
				<ul>
					<% restaurant.reviews.reverse.each do |review| %>
						<li>
							<strong><%= review.title %></strong>
							<%= review.thoughts %>
							<strong><%= star_rating(review.rating) %></strong>
						</li>
					<% end %>
				</ul>


			</div>
		<% end%>
	<% else %>
		No restaurants yet
	<% end %>

</section>