<header id="yelp-header">
<div id="create-restaurant"><%= link_to "Create a restaurant", new_restaurant_path %></div>
</header>

<template id="ajax-reviews">
	<li>
	<strong>{{ #review }} {{ title }} {{ /review }}</strong><br>
			{{ #review }} {{ thoughts }} {{ /review }}<br>
			{{ #review }} {{ star_rating }} {{ /review }}
	</li>
</template>


<template id="ajax-restaurant">

	<div class="restaurant-parent-container" data-id="{{ id }}">

		<span class="restaurant-name"> {{ name }} | {{ cuisine }} </span>

		<div id="review-summary">
			<div class="review-count">
				0 reviews
			</div>

			<div class="average-rating">
				Average rating N/A
			</div>
		</div>

		<div id="restaurant-actions">
			<span class="amend-button"><a href="/restaurants/{{id}}/edit">✐</a></span>
			<span class="amend-button"><a href="/restaurants/{{id}}" data-confirm="Are you sure?" data-method="delete" rel="nofollow">✖</a></span>
		</div>

		<form accept-charset="UTF-8" action="/restaurants/{{id}}/reviews" class="new_review" id="new_review" method="post">
			<textarea id="review_title" name="review[title]" placeholder="Title"></textarea>
			<textarea id="review_thoughts" name="review[thoughts]" placeholder="Thoughts"></textarea>

			<label for="review_rating">Rating</label>
			<select id="review_rating" name="review[rating]"><option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<input name="commit" type="submit" value="Leave Review">
		</form>

		<div id="review-container">
			<ul>
					
				<li>
				
				</li>
					
			</ul>
		</div>
		
	</div>

</template>



<%= render 'form' %>

<section class="restaurant-list">

	<% if @restaurants.any? %>

		<% @restaurants.each do |restaurant| %>

			<div class="restaurant-parent-container" data-id="<%= restaurant.id %>">

				<span class="restaurant-name">
					<h2><%= restaurant.name %> | <%= restaurant.cuisine %></h2>
				</span>

				<div id="review-summary">
					<div class="review-count">
						<%= pluralize restaurant.reviews.count, 'review' %>
					</div>

					<div class="average-rating">Average rating <%= star_rating(restaurant.average_rating) %>
					</div>
				</div>
				
				<div id="restaurant-actions">
					<span class="amend-button"><%= link_to "✐", edit_restaurant_path(restaurant) %></span>
					<span class="amend-button"><%= link_to "✖", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></span>
				</div>

					
				<%= form_for [restaurant, @review] do |f| %>
			
					<%= f.text_area :title, {placeholder: "Title"} %>

					
					<%= f.text_area :thoughts, {placeholder: "Thoughts"}  %>

					<%= f.label :rating %>
					<%= f.select :rating, 1..5 %>

					<%= f.submit 'Leave Review' %>
				<% end %>
				
				<div id="review-container">
				<ul>
					
					<% restaurant.reviews.reverse.each do |review| %>
						<li>
							<strong><%= review.title %></strong><br>
							<%= review.thoughts %><br>
							<strong><%= star_rating(review.rating) %></strong>
						</li>
					<% end %>
					
				</ul>
				</div>

			</div>

		<% end%>

	<% else %>
		No restaurants yet
	<% end %>

</section>
