<header id="yelp-header">
<div id="create-restaurant"><%= link_to "Create a restaurant", new_restaurant_path %></div>
</header>

<template id="ajax-reviews">
	<li>

	<strong> {{ title }} </strong><br>
			{{ thoughts }}<br>
			{{ star_rating }}
	</li>
</template>

	

<section id="restaurant-list">
	<% if @restaurants.any? %>

		<% @restaurants.each do |restaurant| %>

			<div id="restaurant-parent-container">

				<span class="restaurant-name">
					<h2><%= restaurant.name %> | <%= restaurant.cuisine %></h2>
				</span>

				<div id="review-summary">
					<div id="review-count">
						<%= pluralize restaurant.reviews.count, 'review' %>
					</div>

					<div id="average-rating">Average rating <%= star_rating(restaurant.average_rating) %>
					</div>
				</div>
				
				<div id="restaurant-actions">
					<span class="amend-button"><%= link_to "âœ", edit_restaurant_path(restaurant) %></span>
					<span class="amend-button"><%= link_to "âœ–", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></span>
				</div>

					
				<%= form_for [restaurant, @review] do |f| %>
					<span id="form-test"><%= f.label :title %>
					<%= f.text_area :title %></span>

					<%= f.label :thoughts %>
					<%= f.text_area :thoughts %>

					<%= f.label :rating %>
					<%= f.select :rating, 1..5 %>

					<%= f.submit 'Leave Review' %>
				<% end %>
				
	
				<ul>
					<div id="review-container">
					<% restaurant.reviews.reverse.each do |review| %>
						<li>
							<strong><%= review.title %></strong><br>
							<%= review.thoughts %><br>
							<strong><%= star_rating(review.rating) %></strong>
						</li>
					<% end %>
					</div>
				</ul>

			</div>

		<% end%>
	<% else %>
		No restaurants yet
	<% end %>

</section>